body {
  background: #000000;
}
.forent {
  position: absolute;
  width: 159px;
  height: 72px;
  left: 59px;
  top: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  color: #ffffff;
}
.inp {
  position: absolute;
  width: 597px;
  height: 53px;
  left: 319px;
  top: 33px;
  background: #262626;
  border-radius: 15px;
}
.inp input {
  border: none;
  background: #262626;
  color: rgba(255, 255, 255, 0.2);
  width: 75px;
  height: 28px;
  padding-left: 5px;
  padding-top: 5px;
  left: 347px;
  top: 47px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.btn-1 {
  position: absolute;
  width: 134px;
  height: 53px;
  left: 958px;
  top: 33px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  background: #262626;
  border-radius: 15px;
}
.btn-2 {
  position: absolute;
  width: 131px;
  height: 53px;
  left: 1125px;
  top: 33px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  background: #262626;
  border-radius: 15px;
}
.btn-3 {
  position: absolute;
  width: 131px;
  height: 53px;
  left: 1280px;
  top: 33px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  background: #262626;
  border-radius: 15px;
}
.about {
  box-sizing: border-box;

  position: absolute;
  width: 1323px;
  height: 588px;
  left: 59px;
  top: 137px;

  background: #262626;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.abt {
  position: absolute;
  width: 335px;
  height: 53px;
  left: 59px;
  top: 41px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;

  color: #ffffff;
}
.crt {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 93px;
  top: 156px;

  background: #fecb03;
  border-radius: 100px;
}
.crt img {
  position: relative;
  top: 25px;
  left: 25px;
}
.crt-txt {
  position: absolute;
  width: 846px;
  height: 53px;
  left: 224px;
  top: 185px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #c4c4c4;
}
.pin {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 93px;
  top: 290px;

  background: #fecb03;
  border-radius: 100px;
}
.pin img {
  position: relative;
  top: 25px;
  left: 25px;
}
.pin-txt {
  position: absolute;
  width: 846px;
  height: 53px;
  left: 224px;
  top: 319px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #c4c4c4;
}
.rcd {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 93px;
  top: 424px;

  background: #fecb03;
  border-radius: 100px;
}
.rcd img {
  position: relative;
  top: 25px;
  left: 25px;
}
.rcd-txt {
  position: absolute;
  width: 846px;
  height: 53px;
  left: 224px;
  top: 453px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #c4c4c4;
}
.clk {
  position: absolute;
  width: 279px;
  height: 279px;
  left: 993px;
  top: 98.5px;
  bottom: 209px;
  right: 51px;
  background: #262626;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.clk img {
  position: absolute;
  width: 279px;
  height: 279px;

  background: #fecb03;
  border-radius: 1000px;
}
.knw-btn {
  position: absolute;
  width: 260px;
  height: 107px;
  left: 1011px;
  top: 429px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */
  color: #262626;
  background: #fecb03;
  border-radius: 50px;
}
.ctg {
  position: absolute;
  width: 453px;
  height: 76px;
  left: 105px;
  top: 813px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;

  color: #ffffff;
}
/* BOTTOM DESIGN */

.btm {
  position: absolute;
  width: 1346px;
  height: 283px;
  left: 33px;
  top: 1885px;
  background: #262626;
  border-radius: 30px;
}
.frt {
  position: absolute;
  width: 335px;
  height: 53px;
  left: 43px;
  top: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;

  color: #ffffff;
}
.stm {
  position: absolute;
  width: 335px;
  height: 53px;
  left: 668px;
  top: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}
.scs {
  position: absolute;
  width: 335px;
  height: 53px;
  left: 1026px;
  top: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}
.txt {
  position: absolute;
  width: 513px;
  height: 183px;
  left: 43px;
  top: 100px;
  bottom: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}

.sms {
  position: absolute;
  width: 513px;
  height: 183px;
  left: 668px;
  top: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */

  color: rgba(255, 255, 255, 0.8);
}
.sias {
  position: absolute;
  width: 513px;
  height: 183px;
  left: 1030px;
  top: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */

  color: rgba(255, 255, 255, 0.8);
}
.box-5 {
  box-sizing: border-box;

  position: absolute;
  width: 346.44px;
  height: 391px;
  left: 532px;
  top: 1418px;

  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
}
.box-5 span {
  position: absolute;
  width: 269px;
  height: 53px;
  left: 27px;
  top: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #c4c4c4;
}
.box-6 {
  box-sizing: border-box;

  position: absolute;
  width: 346.44px;
  height: 391px;
  left: 944px;
  top: 1418px;

  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
}
.box-6 span {
  position: absolute;
  width: 269px;
  height: 53px;
  left: 27px;
  top: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #c4c4c4;
}
.box-4 {
  box-sizing: border-box;

  position: absolute;
  width: 346.44px;
  height: 391px;
  left: 126.55px;
  top: 1418px;

  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
}
.box-4 span {
  position: absolute;
  width: 269px;
  height: 53px;
  left: 27px;
  top: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #c4c4c4;
}
.box-3 {
  box-sizing: border-box;

  position: absolute;
  width: 346.44px;
  height: 391px;
  left: 943.56px;
  top: 965px;

  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
}
.box-3 span {
  position: absolute;
  width: 269px;
  height: 53px;
  left: 26.98px;
  top: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #c4c4c4;
}
.box-2 {
  box-sizing: border-box;

  position: absolute;
  width: 346.44px;
  height: 391px;
  left: 532.36px;
  top: 965px;

  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
}
.box-2 span {
  position: absolute;
  width: 269px;
  height: 53px;
  left: 26.98px;
  top: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #c4c4c4;
}
.box-1 {
  box-sizing: border-box;

  position: absolute;
  width: 346px;
  height: 391px;
  left: 119px;
  top: 965px;

  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
}
.box-1 span {
  position: absolute;
  width: 269px;
  height: 53px;
  left: 27px;
  top: 36px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #c4c4c4;
}
.para {
  position: absolute;
  width: 282.77px;
  height: 183px;
  left: 27px;
  top: 89px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: rgba(255, 255, 255, 0.8);
}

.btn-km {
  position: absolute;
  width: 169.44px;
  height: 58px;
  left: 159px;
  top: 313px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #262626;
  background: #fecb03;
  border-radius: 50px;
}
